body
  font-family: Helvetica

header
  margin: 0 0 2rem
  padding: 0
  h1
    text-align: center
    font-size: 2rem
    margin: 0 0 0
    padding: 0 0 1rem
    display: block
section
  margin: 0 0 2rem
  padding: 0
  form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 90%
    margin: 0rem auto
    padding: 1rem
    font-size: 1.2rem
    select
      font-size: 1.3rem
    .options
      width: 45%
      margin: 0.4rem auto
    border: 2px solid #e1e1e1
    background-color: lightyellow
    .disclaimer
      width: 80%
      margin-top: 1rem
      font-size: 0.9rem
    
#card-container
  display: grid
  grid-template-columns: auto auto auto
  grid-column-gap: 4rem
  grid-row-gap: 10rem
  margin: 0
  font-size: 3rem
  .card
    display: flex
    flex-direction: column
    .top
      display: flex
      flex-direction: row
      justify-content: space-between
    
    .operator
      margin-top: auto
    ul
      list-style: none
      &.numbers
        margin: 0
      li
        text-align: right
        font-family: "Menlo", "Monaco", "Courier"
        letter-spacing: 0.9rem
    .answer
      border-top: 4px solid black

@media print
  html, body
    height: 100%
  header
    margin-bottom: 5rem
  section
    form
      display: none
  footer
    position: absolute
    bottom: 0


