body {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

header {
  margin: 0 0 2rem;
  padding: 0;
}

header h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 0;
  padding: 0 0 1rem;
  display: block;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  min-width: 520px;
  margin: 2rem auto 5rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: 2px solid #e1e1e1;
  background-color: lightyellow;
}

form select {
  font-size: 1.3rem;
}

form .options {
  margin: 0.4rem auto;
}

form .disclaimer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

#card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 10rem;
  margin: 0 auto;
  font-size: 3rem;
  max-width: 900px;
}

#card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#card-container .card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#card-container .card .operator {
  margin-top: auto;
}

#card-container .card ul {
  list-style: none;
}

#card-container .card ul.numbers {
  margin: 0;
}

#card-container .card ul li {
  text-align: right;
  font-family: "Menlo", "Monaco", "Courier";
  letter-spacing: 0.9rem;
}

#card-container .card .answer {
  border-top: 4px solid black;
}

@media (max-width: 600px) {
  header h1 {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    min-width: 300px;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.2rem;
  }
  form select {
    font-size: 1.3rem;
  }
  form .options {
    margin: 1rem auto;
  }
  form .disclaimer {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  #card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    margin: 0 auto;
    font-size: 2rem;
    padding: 1rem;
  }
  #card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #card-container .card .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #card-container .card .operator {
    margin-top: auto;
  }
  #card-container .card ul {
    list-style: none;
  }
  #card-container .card ul.numbers {
    margin: 0;
  }
  #card-container .card ul li {
    text-align: right;
    font-family: "Menlo", "Monaco", "Courier";
    letter-spacing: 0.9rem;
  }
  #card-container .card .answer {
    border-top: 3px solid black;
  }
  footer {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

@media print {
  header {
    margin-bottom: 4rem;
  }
  #card-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 10rem;
    margin: 0 auto;
    font-size: 3rem;
    max-width: 900px;
  }
  #card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #card-container .card .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #card-container .card .operator {
    margin-top: auto;
  }
  #card-container .card ul {
    list-style: none;
  }
  #card-container .card ul.numbers {
    margin: 0;
  }
  #card-container .card ul li {
    text-align: right;
    font-family: "Menlo", "Monaco", "Courier";
    letter-spacing: 0.9rem;
  }
  #card-container .card .answer {
    border-top: 4px solid black;
  }
  #customize {
    display: none;
  }
  footer {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */